<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title >
      Flow ratio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" >
    <ion-toolbar >
      <ion-title size="large" >Flow ratio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="color1">
    <ion-label position="stacked">Description</ion-label>
    <ion-text>
      <p>The ratio between the amount of blood flow through the systemic and pulmonary circulation.</p>
    </ion-text>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">SaO2 aorta (%)</ion-label>
    <ion-input type="number" [(ngModel)]= "Aorta" ></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">SaO2 SVC (%)</ion-label>
    <ion-input type="number" [(ngModel)]= "SVC"></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">SaO2 IVC (%)</ion-label> 
    <ion-input type="number" [(ngModel)]= "IVC"></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">SaO2 PV (%)</ion-label>
    <ion-input type="number" [(ngModel)]= "PV"></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">SaO2 PA (%)</ion-label>
    <ion-input type="number" [(ngModel)]= "PA"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="calculate()" class="color3">Calculate<ion-icon slot="end" name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="clear()" class="color3">Clear<ion-icon slot="end" name="close-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="color4" >
    <div *ngIf="Classification" >
      <p>Flow ratio (Qp:Qs) is <b>{{ Flowstring }}</b></p>
      <p>Classification: <b>{{Classification }}</b></p>
    </div>
  </ion-card>
</ion-content>
