<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PA Size
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color1">
    <ion-label position="stacked">Description</ion-label>
    <ion-text>
      <p>Pulmonary artery size calculation is used to select which patient is eligible for total correction surgery in cyanotic congenital heart disease.</p>
    </ion-text>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">RPA diameter (mm)</ion-label>
    <ion-input type="number" [(ngModel)]= "RPA" ></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">LPA diameter (mm)</ion-label>
    <ion-input type="number" [(ngModel)]= "LPA" ></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">DAo diameter (mm)</ion-label>
    <ion-input type="number" [(ngModel)]= "DAo" ></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">Body weight (kg)</ion-label>
    <ion-input type="number" [(ngModel)]= "weight" ></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="floating">Height (cm)</ion-label>
    <ion-input type="number" [(ngModel)]= "height" ></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="calculate()" class="color3">Calculate<ion-icon slot="end" name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="clear()" class="color3">Clear<ion-icon slot="end" name="close-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="color4">
    <div *ngIf="classification1">
      <p>Body surface area (Mosteller formula): <b>{{ BSAstring }} m<sup>2</sup></b></p>
      <p>McGoon ratio: <b>{{ mcgoonstring }}</b> ({{classification1}})</p>
      <p>Nakata index: <b>{{ nakatastring }}</b> ({{classification2}})</p>
    </div>
  </ion-card>
</ion-content>
